:root {
	--hola : black;
}


.playground {
	background: radial-gradient(
			circle at 20% 0%,
			rgba(58, 123, 167, 0.4),
			rgba(5, 42, 66, 0.9) 20%,
			transparent 50%
		),
		radial-gradient(
			circle at 80% 125%,
			rgba(158, 75, 75, 0.5),
			rgba(83, 4, 4, 0.897) 10%,
			transparent 35%
		),
		linear-gradient(to bottom, rgb(6, 9, 43));

	height: 100vh;
}

.mesh {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50vw;
	height: 50vh;
	position: fixed;
    overflow: visible;
}

.other {
	height: 100vh;
}

.h1 {
	display: none;
	text-align: center;
	color: white;
	align-content: center;
	height: -webkit-fill-available;
}

/* div class shackle*/
/* .shackle {
    display: none;
	background-color: azure;
	width: 100px;
	height: 100px;
	clip-path: polygon(
		50% 0%,
		75% 25%,
		75% 50%,
		100% 75%,
		100% 100%,
		75% 100%,
		50% 75%,
		25% 100%,
		0% 100%,
		0% 75%,
		25% 50%,
		25% 25%
	);
	box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.3);
} */



.hand{
	position: fixed;
	top: 120%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
 	object-position: center; /* default */
	width: 30%;
}